<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="jumbotron">
        <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
            <label>Email:</label>
            <input class="form-control" type="text" [formControl]="complexForm.controls['email']">
            <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger">Email is required.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
            <label>Password:</label>
            <input class="form-control" type="password" [formControl]="complexForm.controls['password']">
            <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">password is required.</div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Log In</button>
            <div class="text-right"><a href="" routerLink="/register">Register</a></div>
          </div>
        </form>
      </div>
  </div>
</div>
