<ul class="nav nav-pills nav-fill" style="background-color:#eee">
  <li *ngIf="tokenService?.currentUserData && tokenService?.currentUserData?.role != 'regular'"
   class="nav-item active">
    <a class="nav-link" href="" routerLink="/users" routerLinkActive="active">
     Users
    </a>
  </li>
  <li *ngIf="tokenService?.currentUserData"
   class="nav-item">
    <a class="nav-link" href="" (click)="logOut()">Log Out</a>
  </li>
</ul>
<br />
<simple-notifications
 [options]="notificationOptions"
 (onDestroy)="eventDestroyed($event)">
</simple-notifications>
<router-outlet></router-outlet>
