<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
            <h2 class="col-xs-6">Users ({{totalItems}})</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <button *ngIf="userService?.loggedInUser?.role == 'admin'"
                      class="btn btn-sm btn-default"
                      (click)="show('new')"
                      >
                      New User
              </button>
            </div>
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                    <th colspan="50">
                      <input class="form-control" [(ngModel)]="search" [formControl]="searchControl" placeholder="Search"/>
                    </th>
                  </tr>
                <tr>
                  <th style="width: 25%">
                      <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
                  </th>
                  <th style="width: 25%">
                      <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
                  </th>
                  <th style="width: 25%">
                      <mfDefaultSorter by="email">Email</mfDefaultSorter>
                  </th>
                  <th style="width: 10%">
                      <mfDefaultSorter by="role">Role</mfDefaultSorter>
                  </th>
                  <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <a href="" (click)="show(item.id)">Show</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="5">
                        <ngb-pagination [(ngModel)]="page" (pageChanged)="pageChanged($event)"></ngb-pagination>
                      </td>
                  </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
