<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
            <h2 class="col-xs-6">Users ({{totalItems}})</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <button *ngIf="userService?.loggedInUser?.role == 'admin'"
                      class="btn btn-sm btn-default"
                      (click)="show('new')"
                      >
                      New User
              </button>
            </div>
            <table class="table table-striped" >
                <thead>
                  <tr>
                    <th colspan="50">
                      <input class="form-control" [(ngModel)]="search" [formControl]="searchControl" placeholder="Search"/>
                    </th>
                  </tr>
                <tr>
                  <th style="width: 25%">
                      First Name
                  </th>
                  <th style="width: 25%">
                      Last Name
                  </th>
                  <th style="width: 25%">
                      Email
                  </th>
                  <th style="width: 10%">
                      Role
                  </th>
                  <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of data">
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.role}}</td>
                    <td>
                        <a href="" (click)="show(item.id)">Show</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <ngb-pagination
                        [collectionSize]="totalItems"
                        [pageSize]="pageSize"
                        [(page)]="page"
                        (pageChange)="pageChanged($event)"
                        >
                      </ngb-pagination>
                    </td>
                  </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
