<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="row">
            <h2 class="col-xs-6">Users</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">User information</div>

            <table class="table table-striped" [mfData]="data | userFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                  <th style="width: 10%"></th>
                  <th style="width: 20%">
                      <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
                  </th>
                  <th style="width: 20%">
                      <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
                  </th>
                  <th style="width: 40%">
                      <mfDefaultSorter by="email">Email</mfDefaultSorter>
                  </th>
                  <th style="width: 10%">
                      <mfDefaultSorter by="role">Role</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                    <th colspan="5">
                        Filter by name:
                        <input class="form-control" [(ngModel)]="filterQuery"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>
                        <button (click)="remove(item)" class="btn btn-danger">x</button>
                    </td>
                    <td>{{item.first_name}}</td>
                    <td>{{item.last_name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.role}}</td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="5">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                  </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
