<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="jumbotron">
        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
          <div class="form-group" [ngClass]="{'has-error':!form.controls['first_name'].valid && form.controls['first_name'].touched}">
            <label>First name:</label>
            <input class="form-control" type="text" [formControl]="form.controls['first_name']">
            <div *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched" class="alert alert-danger">First name is required.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['last_name'].valid && form.controls['last_name'].touched}">
            <label>Last name:</label>
            <input class="form-control" type="text" [formControl]="form.controls['last_name']">
            <div *ngIf="form.controls['last_name'].hasError('required') && form.controls['last_name'].touched" class="alert alert-danger">Last name is required.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['email'].valid && form.controls['email'].touched}">
            <label>Email:</label>
            <input class="form-control" type="text" [formControl]="form.controls['email']">
            <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="alert alert-danger">Email is required.</div>
            <div *ngIf="form.controls['email'].hasError('incorrectMailFormat') && form.controls['email'].touched" class="alert alert-danger">Invalid email.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['password'].valid && form.controls['password'].touched}">
            <label>Password:</label>
            <input class="form-control" type="password" [formControl]="form.controls['password']">
            <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert alert-danger"></div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched}">
            <label>Confirm password:</label>
            <input class="form-control" type="password" [formControl]="form.controls['confirmPassword']">
            <div *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="alert alert-danger"></div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
          </div>
        </form>
      </div>
  </div>
</div>
