<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-7 col-md-6 col-lg-5">
      <div class="card card-block">
          <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
          <div class="form-group" [ngClass]="{'has-error':!form.controls['first_name'].valid && form.controls['first_name'].touched}">
            <label>First name:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" [formControl]="form.controls['first_name']">
            <div *ngIf="form.controls['first_name'].hasError('required') && form.controls['first_name'].touched" class="error">First name is required.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['last_name'].valid && form.controls['last_name'].touched}">
            <label>Last name:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" [formControl]="form.controls['last_name']">
            <div *ngIf="form.controls['last_name'].hasError('required') && form.controls['last_name'].touched" class="error">Last name is required.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['email'].valid && form.controls['email'].touched}">
            <label>Email:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" [formControl]="form.controls['email']">
            <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="error">Email is required.</div>
            <div *ngIf="form.controls['email'].hasError('mailFormat') && form.controls['email'].touched" class="error">Invalid email.</div>
          </div>
          <div *ngIf="userService.shownUser == null" class="form-group" [ngClass]="{'has-error':!form.controls['role'].valid && form.controls['role'].touched}">
            <label>Role:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" [formControl]="form.controls['role']">
            <div *ngIf="form.controls['role'].hasError('required') && form.controls['role'].touched" class="error">Role is required.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['password'].valid && form.controls['password'].touched}">
            <label>Password:</label>
            <input [readonly]="isReadOnly" class="form-control" type="password" [formControl]="form.controls['password']">
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched}">
            <label>Confirm password:</label>
            <input [readonly]="isReadOnly" class="form-control" type="password" [formControl]="form.controls['confirmPassword']">
            <div *ngIf="form.hasError('mismatchedPasswords') && (form.controls['password'].touched || form.controls['confirmPassword'].touched)" class="error">Passwords don't match.</div>
          </div>
          <div class="form-group">
            <button
              *ngIf="!isReadOnly"
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
            >
              Submit
            </button>

            <button
              *ngIf="isReadOnly"
              class="btn btn-primary"
              (click)="isReadOnly=false"
            >
              Edit
            </button>

            <button
              *ngIf="!isReadOnly"
              class="btn btn-primary"
              (click)="isReadOnly=true"
            >
              Cancel
            </button>

            <button
              *ngIf="isReadOnly && userService.shownUser != null && userService?.loggedInUser?.role=='admin'"
              type="button"
              class="btn btn-danger"
              (click)="delete()"
            >
              Delete User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
