<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="row">
            <h2 class="col-xs-6">Meals ({{totalItems}})</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-offset-1">
                  <h4>
                    Calories Today: {{caloriesToday}}
                  </h4>
                </div>
              </div>
            </div>
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                  <th>
                      <mfDefaultSorter by="date">Date</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="time">Time</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="description">Description</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="calories">Calories</mfDefaultSorter>
                  </th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <tr class="new-meal-row">
                    <td><input class="form-control" [(ngModel)]="newDate" /></td>
                    <td><input class="form-control" [(ngModel)]="newTime"  /></td>
                    <td><input class="form-control" [(ngModel)]="newDescription"  /></td>
                    <td><input class="form-control" [(ngModel)]="newCalories"  /></td>
                    <td>
                      <button type="button" name="add_" (click)="addMeal($event)" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
                  <tr *ngFor="let item of mf.data">
                    <td><input class="form-control" name="date_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.date}}" /></td>
                    <td><input class="form-control" name="time_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.time}}" /></td>
                    <td><input class="form-control" name="description_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.description}}" /></td>
                    <td><input class="form-control" name="calories_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.calories}}" /></td>
                    <td>
                      <button type="button" name="remove_{{item.id}}" (click)="deleteMeal(item.id)" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="5">
                        <pagination [totalItems]="totalItems" [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
                      </td>
                  </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
