<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
        <div class="row">
            <h2 class="col-xs-6">Meals ({{totalItems}})</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
            </div>
            <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                  <th style="width: 15%">
                      <mfDefaultSorter by="date">Date</mfDefaultSorter>
                  </th>
                  <th style="width: 25%">
                      <mfDefaultSorter by="time">Time</mfDefaultSorter>
                  </th>
                  <th style="width: 40%">
                      <mfDefaultSorter by="description">Description</mfDefaultSorter>
                  </th>
                  <th style="width: 10%">
                      <mfDefaultSorter by="calories">Calories</mfDefaultSorter>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                  <td><input class="form-control" name="date_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.date}}" /></td>
                  <td><input class="form-control" name="time_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.time}}" /></td>
                  <td><input class="form-control" name="description_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.description}}" /></td>
                  <td><input class="form-control" name="calories_{{item.id}}" (change)="updateMeal($event, item)" value="{{item.calories}}" /></td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="5">
                        <pagination [totalItems]="totalItems" [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
                      </td>
                  </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
